
Saved/SourceControl/UncontrolledChangelists.json
Saved/Screenshots/WindowsEditor/SpaceStation (5).png
Saved/Screenshots/WindowsEditor/SpaceStation (4).png
Saved/Screenshots/WindowsEditor/SpaceStation (3).png
Saved/Screenshots/WindowsEditor/SpaceStation (2).png
Saved/Screenshots/WindowsEditor/SpaceStation (1).png
Saved/Screenshots/WindowsEditor/SouthPole (9).png
Saved/Screenshots/WindowsEditor/SouthPole (8).png
Saved/Screenshots/WindowsEditor/SouthPole (7).png
Saved/Screenshots/WindowsEditor/SouthPole (6).png
Saved/Screenshots/WindowsEditor/SouthPole (5).png
Saved/Screenshots/WindowsEditor/SouthPole (4).png
Saved/Screenshots/WindowsEditor/SouthPole (3).png
Saved/Screenshots/WindowsEditor/SouthPole (2).png
Saved/Screenshots/WindowsEditor/SouthPole (10).png
Saved/Screenshots/WindowsEditor/SouthPole (1).png
Saved/Screenshots/WindowsEditor/HighresScreenshot00019.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00018.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00017.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00016.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00015.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00014.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00013.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00012.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00011.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00010.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00009.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00008.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00007.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00006.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00005.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00004.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00003.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00002.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00001.png
Saved/Screenshots/WindowsEditor/HighresScreenshot00000.png
Saved/Logs/Assets.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-FF87BB8F432D2B1BC84276B35D9DFE56/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-95DFD5704EB45284740472BF42F59CCB/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/ThirdPerson/Maps/ThirdPersonMap_Auto1.umap
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/E/3Z/7J3ZN6R2YM1BRD603KBUNQ_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/A/25/6XTSJT1CDEXJQR7B9IK0SM_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/0/YK/CVBF7DYRNELEX6DPA8YL9Q_Auto1.uasset
Intermediate/CachedAssetRegistry.bin
Saved/SourceControl/UncontrolledChangelists.json
Saved/Screenshots/WindowsEditor/SpaceStation (5).png
Saved/Screenshots/WindowsEditor/SpaceStation (4).png
Saved/Screenshots/WindowsEditor/SpaceStation (3).png
Saved/Screenshots/WindowsEditor/SpaceStation (2).png
Saved/Screenshots/WindowsEditor/SpaceStation (1).png
Saved/Screenshots/WindowsEditor/SouthPole (9).png
Saved/Screenshots/WindowsEditor/SouthPole (8).png
Saved/Screenshots/WindowsEditor/SouthPole (7).png
Saved/Screenshots/WindowsEditor/SouthPole (6).png
Saved/Screenshots/WindowsEditor/SouthPole (5).png
Saved/Screenshots/WindowsEditor/SouthPole (4).png
Saved/Screenshots/WindowsEditor/SouthPole (3).png
Saved/Screenshots/WindowsEditor/SouthPole (2).png
Saved/Screenshots/WindowsEditor/SouthPole (10).png
Saved/Screenshots/WindowsEditor/SouthPole (1).png
Saved/Logs/Assets.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-FF87BB8F432D2B1BC84276B35D9DFE56/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/ThirdPerson/Maps/ThirdPersonMap_Auto1.umap
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/E/3Z/7J3ZN6R2YM1BRD603KBUNQ_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto1.uasset
Intermediate/CachedAssetRegistry.bin
Saved/SourceControl/UncontrolledChangelists.json
Saved/Screenshots/WindowsEditor/SpaceStation (5).png
Saved/Screenshots/WindowsEditor/SpaceStation (4).png
Saved/Screenshots/WindowsEditor/SpaceStation (3).png
Saved/Screenshots/WindowsEditor/SpaceStation (2).png
Saved/Screenshots/WindowsEditor/SpaceStation (1).png
Saved/Screenshots/WindowsEditor/SouthPole (9).png
Saved/Screenshots/WindowsEditor/SouthPole (8).png
Saved/Screenshots/WindowsEditor/SouthPole (7).png
Saved/Screenshots/WindowsEditor/SouthPole (6).png
Saved/Screenshots/WindowsEditor/SouthPole (5).png
Saved/Screenshots/WindowsEditor/SouthPole (4).png
Saved/Screenshots/WindowsEditor/SouthPole (3).png
Saved/Screenshots/WindowsEditor/SouthPole (2).png
Saved/Screenshots/WindowsEditor/SouthPole (10).png
Saved/Screenshots/WindowsEditor/SouthPole (1).png
Saved/Logs/Assets.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-FF87BB8F432D2B1BC84276B35D9DFE56/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/ThirdPerson/Maps/ThirdPersonMap_Auto1.umap
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/E/3Z/7J3ZN6R2YM1BRD603KBUNQ_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/2/HA/JKFTZJYMKF9F0A2UC00FEO_Auto1.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto2.uasset
Saved/Autosaves/Game/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap/1/IZ/WAZSMFIXIOMCPOTS1U7NC4_Auto1.uasset
Intermediate/CachedAssetRegistry.bin
*.bin
